<p>
  register-page works!
</p>
<div>
  <p>Please write the required information and click on the register button to create a new account.
    <br> As soon as you have your own account, you can work from diiferent devices in your account :)</p>
</div>

<div>
  <a routerLink="/wizard-page" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Register</a>
  <a routerLink="/login-page" class="btn btn-secondary btn-lg btn-block" role="button" aria-pressed="true">log in</a>
</div>
