/* Application-wide Styles */

h1 {
  color: slategrey;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2,h3{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
body{
    margin: 2em;
}
